# Dados processados (gerados pelo codigo)
data/processed/*
!data/processed/.gitkeep




# Modelos
models/*.joblib

# Ambiente Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema
.DS_Store
